<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Usuário</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/Global/dataTables.min.css">
    <link rel="stylesheet" href="/css/User/indexUser.css">
    <link rel="stylesheet" href="/css/Navbar/navbar.css">
</head>

<body>
    <nav>
        <%- include('../Template/NavBar/NavBar.ejs')%>
    </nav>
    <article>
        <%- include('../User/modalEnterprise.ejs')%>
    </article>
    <main>        
        <div class="container-md">
            <%- include('../Widget/dashbord.ejs')%>
        </div>
    </main>
    <input type="hidden" id="user" value="<%=user %>">
    <input type="hidden" id="enterpriseName" value="<%=enterprise %>">
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/Global/dataTables.min.js"></script>
    <script src="/js/Global/moment.js"></script>
    <script src="/js/Widget/Template/class.js"></script>
    <script src="/js/Widget/Template/main.js"></script>
    <script src="/js/User/main.js"></script>
    <script src="/js/message/toast.js"></script>
    <script src="/js/Global/navbar.js"></script>
</body>

</html>